* {
  box-sizing: border-box;
}

@keyframes flip {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0);
  }
}

@keyframes unflip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

html {
  background-image: url('/images/skully_bg.jpg');
  background-size: cover;
}

body {
  background-color: transparent !important;
}

.page-wrapper {
  text-align: center;
  margin-top: 30px;
}

.headline {
  color: #A1986C;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 5px;
}

.game-wrapper {
  margin-top: 30px;
}

.row {
  height: 18vh;
}

.col {
  height: 90%;
}

.card {
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
  background-image: url("/images/fantasy_card_back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 11px !important;
}

.card:hover {
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,1);
  cursor: pointer;
}

.flip {
  animation: flip 0.5s ease;
}

.unflip {
  animation: unflip 0.5s ease;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 11px;
}

.disabled {
  opacity: 0.3;
}

.disabled:hover {
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
  cursor: default;
}

.swal-modal {
  background-color: rgba(0, 0, 0, 0.9);
  width: 700px;
}

.swal-title {
  color: #A1986C;
  font-weight: bold;
  font-size: 74px;
}

.swal-footer {
  text-align: center;
  margin: 70px 0px;
}

.swal-button {
  color: #FFC107;
  border: 1px solid #FFC107;
  background-color: transparent;
  font-size: 20px;
  margin: 20px 10px;
}

.swal-button:focus {
  box-shadow: unset;
}

.swal-button:hover {
  color: black;
  background-color: #FFC107 !important;
}
